{% extends "layout.html" %} {% block title %} Help {% endblock %} {% block main
%}
<div
  class="container bg-light justify-content-center m-auto shadow p-5 align-content-start text-start fs-5"
>
  <h1 class="text-center pb-4">What is PowerCut Schedule Bot?</h1>
  <p>
    These days for Sri Lankans, power cuts are part of everyday life. However,
    power cut schedule can vary from day to day depending on the demand
    management planned by the Ceylon Electricity Board (CEB).
  </p>
  <p>
    PowerCut Schedule Bot is a free web service that will notify you about the
    power cut times for each day via a WhatsApp messege.
  </p>
  <p>
    Every day, we will automatically collect power cut data from
    <a href="https://cebcare.ceb.lk/">Ceylon Electricity Board (CEB)</a> data
    sources for each user and send a WhatsApp messege with the power cut
    schedule to you via the
    <a
      href="https://developers.facebook.com/docs/graph-api/reference/whats-app-business-hsm/"
      >WhatsApp Graph API.</a
    >
  </p>
</div>
<div class="m-5"></div>
<div
  class="container bg-light justify-content-center m-auto shadow p-5 align-content-start text-start fs-5"
>
  <h1 class="text-center pb-4">Disclaimer</h1>
  <div>
    Power cut data served through the service is based on official data provided
    by the CEB. In some instances, we have noticed actual power cut times
    varying from the official schedule.
  </div>
</div>
<div class="m-5"></div>
<div
  class="container bg-light justify-content-center m-auto shadow p-5 align-content-start text-start fs-5"
>
  <h1 class="text-center pb-4">Registering for the service</h1>
  <p>
    Load the web app and click
    <span class="badge bg-success">Create new account</span> button. Now you
    will be redirected to the register page.
  </p>
  <ul>
    <li>
      Enter your WhatsApp number, CEB account number, email and password to the
      relevant fields and click Register.
    </li>
    <li>
      If you provided valid information your account will be created & you will
      be redirected to the Login page.
    </li>
  </ul>
</div>
<div class="m-5"></div>
<div
  class="container bg-light justify-content-center m-auto shadow p-5 align-content-start text-start fs-5"
>
  <h1 class="text-center pb-4">Viewing account details</h1>
  <div>
    <ul>
      <li>
        You can login to your account with previously provided email and
        password.
      </li>
      <li>
        After login you can view your WhatsApp number, CEB account email in the
        dashboard.
      </li>
    </ul>
  </div>
  <h1 class="text-center pb-4">Editing account details</h1>
  <div>
    Click <span class="badge bg-primary">Edit user data</span>button on the home
    page to go to the Edit user data page.
    <ul>
      <li>
        Click on the edit icon in front of WhatsApp number, CEB account, email
        and password to enter new values.
      </li>
      <li>
        If you want to discard changes click on the
        <span class="badge bg-danger">Discard changes</span> button.
      </li>
      <li>
        After entering the new values click on
        <span class="badge bg-primary">Save changes</span> button to change the
        data.
      </li>
    </ul>
  </div>
</div>

<script></script>

{% endblock %}
